  <!-- <app-admin-header></app-admin-header>
  <app-admin-sidebar (collapsedEvent)="receiveCollapsed($event)"></app-admin-sidebar>
  <section class="main-container" [ngClass]="{ collapsed: collapedSideBar }">
    <router-outlet></router-outlet>

  </section> -->

  <!-- <app-admin-header></app-admin-header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-lg-2 bg-light vh-100">
        <app-admin-sidebar></app-admin-sidebar>
      </div>
      <div class="col-md-9 col-lg-10 p-4">
        <div class="content">
          <h2>Dashboard</h2>
          <p>Welcome to the admin panel.</p>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div> -->
    <div class="main-page">
      <div class="wrapper">
        <app-admin-sidebar></app-admin-sidebar>
        <!-- Main Component -->
        <div class="main">
            <app-admin-header></app-admin-header>
            <main class="content px-3 py-2">
                <div class="container-fluid">
                    <div class="mb-3">
                        <h3>Bootstrap Sidebar Tutorial</h3>
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </main>
        </div>
    </div>
    </div>
  