<div class="main_content">
    <div class="lndg_carousel_allwrap" aria-label="Featured Issues" role="complementary">
        <div class="lndg_carousel_allwrap_bkd"></div>
    <div class="landing__headline_box page_top_head">
        <h1 class="head_top" alt="The Complete Vanity Fair Archive">The Complete Vanity Fair Archive</h1>
        <!-- <img src="assets/images/image-cover.jpg" alt="cover"> -->
    </div>

    <div>
        <ng-image-slider [images]="imageObject" [imageSize]="{width: '30%', height: 200}" [slideImage]="true" [imagePopup]="true"></ng-image-slider>
    </div>

</div>

