
  
  .container {
    display: flex;
    position: relative;
    justify-content: center;
  }
  
    .lndg_carousel_allwrap {
    width: 100%;
    margin-top: 0;
    padding-top: 0;
    background-color: #345;
    position: relative;
    overflow: hidden;
}

 .landing__headline_box.page_top_head {
    width: 100%;
    padding: 110px 20px;
    margin-top: 0;
    background-color: transparent;
}

.landing__headline_box .head_top {
   // background-color: #0072bc;
    background-position-x: center;
    background-image: url(https://vanityfair.archive.content.pugpig.com/vanityfair/images/bnr-vanityfair-logo-tag-white.png);
    background-size: auto 180px;
    background-repeat: no-repeat;
    height: 180px;
    padding: 0;
    border-bottom: 0;
    margin: 10px auto 0;
    font-size: 0;
    text-indent: -9999px;
}

.landing__headline_box, .page_issue .landing__headline_box {
    position: relative;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, .6);
    top: 0;
}

.lndg_carousel_allwrap_bkd {
    background: linear-gradient(rgba(22, 30, 37, .3), rgba(44, 50, 55, .3)), no-repeat bottom 15% center / cover url(https://vanityfair.archive.content.pugpig.com/vanityfair/images/banners/vf-landing-02-beach.jpg);
    height: 410px;
    width: 100%;
    opacity: .8;
    position: absolute;
    right: 0;
}

@media only screen and (max-width: 767px) {
     .landing__headline_box .head_top {
        background-position-x: center;
        background-size: 100% auto;
        height: 150px;
    }
}

@media only screen and (max-width: 991px) {
     .landing__headline_box .head_top {
        background-position-x: center;
        background-size: 100% auto;
    }
}

/* app.component.css */
.ng-image-slider {
  margin: 20px auto;
  max-width: 80%;
}

